NODE_ENV=development
PORT=3000

HOST=localhost

LOG_LEVEL=debug

DATABASE_PROVIDER="postgresql"
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/seedabit_db?schema=public

JWT_ACCESS_SECRET="your-access-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="your-refresh-secret"
JWT_REFRESH_EXPIRES_IN="7d"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=seedabit_db


PGADMIN_EMAIL=admin@seedabit.com
PGADMIN_PASSWORD=admin


API_PREFIX=api
SWAGGER_PATH=api/docs


CORS_ORIGIN=http://localhost:3000,http://localhost:4200
CORS_CREDENTIALS=true